body{
    background-image: url("imagenes/Logo\ y\ inicio/photo-1716307043003-dbe6a5cc496e.jpeg");
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

header{
    background-color: rgb(52, 52, 52);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px; 
}

.logotipo{
    height: 50px;
    width: 50px;
    padding: 0 10px;
}

nav{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}

nav > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 100px;
    height: 100px;
}